
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.nav{  
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
.nav a{
    color: #FF0000;
    vertical-align: top;
    margin: 0 30px;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}
.txt h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin:20px auto;
    text-align: center;
    color: #373737;
    font-family:'Montserrat', sans-serif;
}
.main_txt{
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    vertical-align: top;
    text-align: center;
    color: #373737;
    font-family:'Montserrat', sans-serif;
}
.main_txt p{
    width: 1145px;
    margin: 20px auto;
    color: #373737;
    font-family:'Montserrat', sans-serif;
}
.btn{
    margin: 20px auto;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    border-radius: 5px;
    color: #ffff;
    border: none;
    font-family:'Montserrat', sans-serif;
}
.footer_text{
    margin: 20px auto;
    width: 1145px;
    text-align: right; 
}
.footer_text p {
    font-size: 16px;
    font-weight: 700;
    color: #373737;
    font-family:'Montserrat', sans-serif;
}
